VITE_SUPABASE_URL=https://cbxrytvbpjusnxeicnve.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNieHJ5dHZicGp1c254ZWljbnZlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA3OTMwODAsImV4cCI6MjA2NjM2OTA4MH0.oKBW-nxq9PBl5WIyALipMX7CGJXdB4zm0sufPnzmBJ0